<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="2">
 
  <test name="test on firefox">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="chapter5.Chapter05_LoginExample"/>
    </classes>
  </test> 
  
  <test name="test on chrome">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="chapter5.Chapter05_LoginExample"/>
<!--      <class name="chapter5.Chapter05_LoginTest"/> -->
    </classes>
  </test>
  
</suite> 